.mask{
    position: fixed;
    left:0;
    top: 0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.5);
    z-index: 88;
}
.con{
    width: 500px;
    background:#fff;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: 99;
}
.head{
    height:40px;
    border-bottom: 1px solid #ccc;
}
.head h4{
    height:30px;
    width:30px;
    /*border:1px solid #ccc;*/
    text-align: center;
    line-height: 22px;
    border-radius: 20px;
    float: right;
    margin-top: 5px;
    margin-right:5px;
    cursor:pointer;

}
.head h4:hover{
    background:red;
    color:#fff;
}
.addrmask_main{
    height:400px;
    overflow:auto;
    margin:0;
    width:100%;

}
.foot{
    height:40px;
    border-top: 1px solid #ccc;
}
.foot .check{
    float:right;
}
.foot .check span{
    display: block;
    float:left;
    width:100px;
    height:30px;
    text-align: center;
    line-height: 30px;
    margin-right:20px;
    margin-top:5px;
    border:1px solid #ccc;
    cursor:pointer;
}
.foot .check span:nth-child(1){
    background:#58bc58;
    color:#fff;
}
.foot .check span:nth-child(2){
    background:red;
    color:#fff;
}
.chepic{
    position:relative;
    width:150px;
    height:150px;
    border:1px solid #ccc;

}
.chepic img{
    position:absolute;
    height:100%;
    width:100%;
    z-index: 122;
}
.chepic h5{
    font-size: 16px;
    text-align: center;
    line-height: 150px;
    position:absolute;
    width:100%;
    height:100%;
    z-index: 111;
}
.chepic input{
    position:absolute;
    height:100%;
    width:100%;
    opacity: 0;
    z-index: 133;
    cursor:pointer;

}
.adr{
    border-bottom: 1px dashed red;
    line-height: 40px;
    padding-left:20px;
    position:relative;
    overflow:hidden;
}
.adr:hover{
    cursor:pointer;
    background:yellow;

}
.deladr{
    line-height: 30px;
    height:30px;
    background:red;
    color:#fff;
    position:absolute;
    right:0;
    top: 0;
}
.t2{
    border:1px dashed #ccc ;
    margin:10px;
}
.t2 td{
    padding:10px;
}
.t2 input{
    border-top:1px solid #ccc;
    height:30px;
    margin:10px;
}
.t2 textarea{
    border-top:1px solid #ccc;
}