#littleswan{
    height:100%;
    display:flex;
    flex-direction:column;
  .header{
        display:flex;
        height:1.036667rem;
        border-bottom:1px solid #ccc;
        justify-content:space-between;
        align-items:center;
        li:nth-child(1){
            i{
                font-size:0.454rem;
                padding-left:0.213333rem;   
            }
        }
        li:nth-child(3){
            i{
                font-size:0.454rem;
                padding-right:0.213333rem; 
            }
        }
    }
    .main{
        flex:1;
        background:#F5F5F5;
        .group{
            height:1.429333rem;
            display:flex;
            justify-content:space-between;
            align-items:center;
            background:#fff;
            color:#000000;
            margin-top:0.426667rem;
            .group1{
                display:flex;
                align-items:center;
            }
            .littleMessage{
                font-size:0.384rem;
                margin-bottom:0.106667rem;
            }
            .address{
                color:#666666;
            }
            input{
                width:0.533333rem;
                height:0.533333rem;
                color:#fff;
                margin-left:0.64rem;
                margin-right:0.413333rem;
            }
            .name{
                padding-right:0.106667rem;
            }
        }
        .addSite{
            display:flex;
            justify-content:center;
            div{
                height:1.066667rem;
                width:7.36rem;
                background:#f90;
                color:#fff;
                text-align:center;
                line-height:1.066667rem;
                margin-top:0.64rem;
            }
        }
        .icon-bianji{
            font-size:0.526667rem;
            padding-right:0.298667rem;
        }
    }
}