body,html{height:100%;}
#Mine{
    height:100%;
    display:flex;
    flex-direction:column;
    .header{ 
        display:flex;
        height:2.56rem;
        background:url('http://localhost:3002/src/component/Mine/Mine2.jpg') no-repeat;
        background-size:cover;
        background-position:center;
        justify-content:space-between;
        .header-left{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding-left:0.326667rem;
            img{
                width:1.28rem;
            }
            div:nth-child(2){
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                padding-left:0.213333rem;
                color:#fff;
                font-size:0.384rem;
                div{
                    display:flex;
                    flex-direction:column;  
                }
            }
        }
        .header-right{
            display:flex;
            align-items:center;
            color:#fff;
            i{
                font-size:0.384rem;
                padding-right:0.32rem;
                color:#fff;
            }
        }
    }
    .main{
        flex:1;
        overflow-x:hidden;
        .category-wrap{
            display:flex;
            height:1.906667rem;
            border-bottom:1px solid #ccc;
            justify-content:space-around;
             align-items:center;
            li{
                display:flex;
                flex-direction:column;
                align-items:center;
                text-align:center;
                span:nth-child(1){
                    color:#FF791A;
                    font-weight:bold;
                    font-size:0.412rem;
                }
            }
        }
        .zhezhao{
            height:0.226667rem;
            background:#F7F7F7;
        }
        .indent{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
            }
            i{
                font-size:0.384rem;
            }
        }
        .bag{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
                span{
                    padding-right:0.106667rem;
                    font-size:0.284rem;
                }
            }
            i{
                font-size:0.384rem;
            }
        }
        .member{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
            }
            i{
                font-size:0.384rem;
            }
        }
        .attention{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            border-bottom:1px solid #ccc;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
            }
            i{
                font-size:0.384rem;
            }
        }
        .address{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
            }
            i{
                font-size:0.384rem;
            }
        }
        .message{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            border-bottom:1px solid #ccc;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
            }
            i{
                font-size:0.384rem;
            }
        }
        .opinion{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            border-bottom:1px solid #ccc;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
            }
            i{
                font-size:0.384rem;
            }
        }
        .phone{
            display:flex;
            justify-content:space-between;
            height:1.173333rem;
            align-items:center;
            border-bottom:1px solid #ccc;
            div:nth-child(1){
                padding-left:0.356rem;
                font-size:0.384rem;
                span{
                    padding-left:0.128rem;
                }
            }
            div:nth-child(2){
                padding-right:0.313333rem;
                span{
                    padding-right:0.106667rem;
                }
            }
            i{
                font-size:0.384rem;
            }
        }
        .service{
            display:flex;
            height:2.0rem;
            background:#F8F7F7;
            justify-content:center;
            align-items:center;
            .serviceHotline{
                width:5.525333rem;
                height:0.974667rem;
                background:#FFFFFF;
                text-align:center;
                line-height:0.974667rem;
                font-weight:bold;
                color:#FF7C1E;
                font-size:0.384rem;
                i{
                    padding-right:0.146667rem;
                    font-size:0.384rem;
                }
            }
        }
    }
}